<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding class="test">

  <ion-button color="medium" expand="block">
    <ion-icon name="logo-twitter"></ion-icon>
    &nbsp;&nbsp;&nbsp;Rechercher Sur twitter
  </ion-button>

  <ion-button color="medium" expand="block">
    <ion-icon name="search"></ion-icon>
    &nbsp;&nbsp;&nbsp;Rechercher Sur Wikipedia
  </ion-button>

  <ion-button color="medium" expand="block">
    <ion-icon name="contact"></ion-icon>
    &nbsp;&nbsp;&nbsp;Reconnaissance faciale
  </ion-button>




</ion-content>


